<div>
  <create-thread-form ng-if="sub" sub-threads="subThreads" sub-id="sub.id"></create-thread-form>
  <div>
    <a href=""><span ng-click="getThreads(1,'hot', true)" class="label "
                     ng-class="{'label-primary': config.orderType === 'hot', 'label-default': config.orderType !== 'hot'}">Hot</span></a>
    <a href=""><span ng-click="getThreads(1,'new', true)" class="label "
                     ng-class="{'label-primary': config.orderType === 'new', 'label-default': config.orderType !== 'new'}">New</span></a>
    <a href=""><span ng-click="getThreads(1,'top', true)" class="label "
                     ng-class="{'label-primary': config.orderType === 'top', 'label-default': config.orderType !== 'top'}">Top</span></a>
    <hr>

    <div class="row">
      <div class="col-md-9">

        <div ng-if="ready">
          <thread  ng-repeat="thread in subThreads" thread="thread" index="$index"></thread>
          <pager  type="'sub'" threads="subThreads" sub-id="sub.id"></pager>
        </div>


        <div ng-if="config.loading">
          <h1 style="text-align: center;padding: 35px"><i class="fa fa-spinner fa-spin"></i></h1>
        </div>
      </div>
      <div class="col-md-3">
        <sidebar sub="sub">
          <create-thread-form ng-if="sub" sub-threads="subThreads" sub-id="sub.id"></create-thread-form>
        </sidebar>
      </div>
    </div>


  </div>
</div>








