<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->

  <script src="https://use.fontawesome.com/2e1ee088d4.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

</head>
<body ng-app="appApp" class="ng-cloak" ng-cloak>
<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<div class="header">
  <div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a ng-if="!user" class="navbar-brand" href="#/all">Redish</a>
        <a ng-if="user" class="navbar-brand" href="#/">Redish</a>
      </div>

      <div class="collapse navbar-collapse" id="js-navbar-collapse">

        <ul class="nav navbar-nav">
          <li class=""><a href="#/subs">Subs</a></li>
          <!--<li><a ng-href="#/about">About</a></li>-->
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <!--<li><a ng-href="#/about">About</a></li>-->
          <li ng-if="!user"><a ng-href="#/login">
            <small>Login</small>
          </a></li>
          <li ng-if="!user"><a ng-href="#/register">
            <small>Register</small>
          </a></li>

          <li ng-if="user"><a ng-href="#/login">
            <small>Logged in as {{user.name}}</small>
          </a></li>

        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <subscriptions-bar></subscriptions-bar>
</div>
<div class="container-fluid">


  <div autoscroll="true" ng-view=""></div>
</div>

<div class="footer">
  <div class="container-fluid">
    <p>v1.0</p>
  </div>
</div>


<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
  !function (A, n, g, u, l, a, r) {
    A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
        (A[l].q = A[l].q || []).push(arguments)
      }, A[l].l = +new Date, a = n.createElement(g),
      r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
  }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-XXXXX-X');
  ga('send', 'pageview');
</script>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/angular-moment/angular-moment.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/Signup/login.js"></script>
<script src="scripts/Subs/subs.js"></script>
<script src="scripts/Threads/threads.js"></script>
<script src="scripts/All/all.js"></script>
<script src="scripts/Frontpage/frontpage.js"></script>
<script src="scripts/Comments/comments.js"></script>
<script src="scripts/PublicUser/publicUser.js"></script>
<script src="scripts/Signup/register.js"></script>


<script src="components/threadComponent/threadComponent.js"></script>
<script src="components/votePanelComponent/votePanelComponent.js"></script>
<script src="components/voteCommentComponent/voteCommentComponent.js"></script>
<script src="components/commentsTreeComponent/commentsTreeComponent.js"></script>
<script src="components/subscriptionsBarComponent/subscriptionsBarComponent.js"></script>
<script src="components/createThreadFormComponent/createThreadFormComponent.js"></script>


<script src="scripts/Resources/users.api.js"></script>
<script src="scripts/Resources/auth.api.js"></script>
<script src="scripts/Resources/subscribe.api.js"></script>
<script src="scripts/Resources/subs.api.js"></script>
<script src="scripts/Resources/threads.api.js"></script>
<script src="scripts/Resources/comments.api.js"></script>


<script src="scripts/Services/usersService.js"></script>
<script src="scripts/Services/authService.js"></script>
<script src="scripts/Services/subscribeService.js"></script>
<script src="scripts/Services/subsService.js"></script>
<script src="scripts/Services/threadsService.js"></script>
<script src="scripts/Services/commentsService.js"></script>

<!-- endbuild -->
</body>
</html>
