<div class="row" style="margin-bottom: 30px">
  <div class="col-md-12">
    <button ng-if="user" class="btn btn-primary pull-right" ng-click="config.showCreate = !config.showCreate">Create</button>
    <p class="pull-right" ng-if="!user"><a href="#/login">Login</a> to create, edit & delete employees</p>
  </div>


  <div ng-if="config.showCreate" style="margin-top: 30px" class="col-md-12">
    <div class="well">
      <form name="empCreateForm"  ng-submit="createEmployee(newEmployee)">
        <div class="col-md-12">
          <div class="form-group">
            <label for="empName">Name</label>
            <input id="empName" ng-model="newEmployee.name" class="form-control" type="text">
          </div>
          <div class="form-group">
            <label for="empEmail">Email</label>
            <input id="empEmail" ng-model="newEmployee.email" class="form-control" type="email">
          </div>

          <div class="form-group">
            <label for="empContact_number">Contact Number</label>
            <input id="empContact_number" ng-model="newEmployee.contact_number" class="form-control" type="text">
          </div>

          <div class="form-group">
            <label for="empPosition">Position</label>
            <input id="empPosition" ng-model="newEmployee.position" class="form-control" type="text">
          </div>
        </div>

        <div class="col-md-12">
          <button class="btn btn-primary pull-right">Create</button>
        </div>
      </form>
      <div class="clearfix"></div>
    </div>
  </div>

</div>

<div class="row" >
  <div class="col-md-12">
    <table class="table table-bordered">
      <thead>
      <th>#</th>
      <th>Name</th>
      <th>Email</th>
      <th>Contact Number</th>
      <th>Position</th>
      <th>Action</th>
      </thead>
      <tbody ng-repeat="employee in employees track by employee.id">
      <tr>
        <td>{{employee.id}}</td>
        <td>{{employee.name}}</td>
        <td>{{employee.email}}</td>
        <td>{{employee.contact_number}}</td>
        <td>{{employee.position}}</td>
        <td>
          <button ng-click="deleteEmployees(employee.id)" ng-disabled="!user" style="margin-left: 10px"  class="btn btn-danger pull-right">Delete</button>
          <button ng-click="toggleEdit(employee)" ng-disabled="!user" class="btn btn-default pull-right">Edit</button>

        </td>
      <tr ng-if="employee.showEdit">
        <td colspan="6">
          <div class="row">
            <form name="empForm" ng-submit="editEmployee(employee, employeeProto)">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="empName{{employee.id}}">Name</label>
                  <input id="empName{{employee.id}}" ng-model="employeeProto.name" class="form-control" type="text">
                </div>
                <div class="form-group">
                  <label for="empEmail{{employee.id}}">Email</label>
                  <input id="empEmail{{employee.id}}" ng-model="employeeProto.email" class="form-control" type="email">
                </div>

                <div class="form-group">
                  <label for="empContact_number{{employee.id}}">Contact Number</label>
                  <input id="empContact_number{{employee.id}}" ng-model="employeeProto.contact_number" class="form-control" type="text">
                </div>

                <div class="form-group">
                  <label for="empPosition{{employee.id}}">Position</label>
                  <input id="empPosition{{employee.id}}" ng-model="employeeProto.position" class="form-control" type="text">
                </div>
              </div>

              <div class="col-md-12">
                <button class="btn btn-primary pull-right">Confirm</button>
              </div>
            </form>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
